In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect("database.sqlite")

In [15]:
df = pd.read_sql("SELECT COUNT(*) FROM May2015 where score < 25", con)

In [16]:
df

   COUNT(*)
0  52839614

In [16]:
df.id[2]

'cqug90i'

In [4]:
c = con.cursor()

In [ ]:
q = "delete from May2015 where score <= 25"
c.execute(q)